# API Go local
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Usado para montar o link de convite que o paciente vai abrir
NEXT_PUBLIC_PATIENT_APP_URL=http://localhost:3000

NEXT_PUBLIC_DESIGN_MOCK=false
